*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
.container{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #dae0e3;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn{
    width:90px;
    height: 50px;
    font-size: 35px;
    background-color: rgb(191, 125, 249);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.btn:hover{
    background-color: rgb(165, 85, 239);
    cursor: pointer;
}
#display{
    width: 120px;
    height: 50px;
    border-radius: 20px;
    font-size: 40px;
    text-align: center;
    padding: 5px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: rebeccapurple;
}
#errorBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    /* background-color: rgb(244, 103, 103); */
    position: absolute;
    border-radius: 10px;
    top: 2%;
    padding: 10px 40px;
    flex-direction: column;
    overflow: hidden;
}
.error{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;
    margin: 5px;
    background-color: rgb(248, 93, 93);
    border-radius: 20px;
    box-shadow: 2px 2px 10px #ff4747;
    font-size:  20px;
    color: white;
    position: relative;
    transform: translateY(-100%);
    animation: movedown 1s ease-in-out forwards;

}
.error::after{
    content: '';
    position: absolute;
    bottom: -2px;
    height: 3px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    border-radius: 10px;
    animation: line 5s linear forwards;
}

@keyframes movedown {
    100%{
        transform: translateY(0);
    }
}
@keyframes line {
    0%{
        width: calc(100% - 20px);
    }
    100%{
        width: 0;
    }
}
